<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <parameter name="thread-count" value="5" />
    <classes>
      <class name="amazonLoginTest">
        <methods>
          <include name="testLogin" />
          <include name="testcheck" />
           <include name="testdate" />
          <!-- Add more test methods as needed -->
        </methods>
      </class>
    </classes>
  </test>
</suite>
